<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyGames"
        tools:targetApi="31">
        <activity
            android:name=".activities.gamesactivities.tumblingdiceactivities.TumblingDiceScoreActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.endgames.TumblingDiceEndGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.endgames.SkyjoEndGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.skyjoactivities.SkyjoScoreActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.skyjoactivities.SkyjoGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.endgames.Level8EndGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.level8activities.Level8GameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.tumblingdiceactivities.TumblingDiceThirdActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.tumblingdiceactivities.TumblingDiceSecondActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.playersetupactivities.SetPlayerValuesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.playersetupactivities.SelectNumberPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.skyjoactivities.SkyjoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.tumblingdiceactivities.TumblingDiceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.level8activities.Level8Activity"
            android:exported="false" />
        <activity
            android:name=".activities.gamesactivities.petitbacactivities.PetitBacActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RankActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GameSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>